.movies-list {
  margin: 80px auto 0;
  max-width: 1440px;
  min-height: 333px;
  display: grid;
  gap: 43px 30px;
  grid-template-columns: repeat(3, minmax(min-content, 360px));
  grid-template-rows: 247px;
}

@media screen and (max-width: 1137px) {
  .movies-list {
    max-width: 100%;
    grid-template-columns: repeat(2, minmax(339px, max-content));
    gap: 47px 30px;
  }
}

@media screen and (max-width: 750px) {
  .movies-list {
    margin: 50px auto 0;
    max-width: 100%;
    grid-template-columns: minmax(300px, max-content);
    grid-auto-rows: 202px;
    gap: 47px 30px;
  }
}
