.page {
  background: #202020;
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', 'Arial', 'sans-serif';
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
