.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__header {
  margin: 0;
  padding: 0;
  max-width: 1140px;
  min-height: 51px;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px #DADADA solid;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .main {
    max-width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .main__header {
    font-size: 18px;
    line-height: 22px;
  }
}
